{% extends 'base.html' %}

{% block title %}
| About Us
{% endblock title %}

{% load static %}

{% block body %}


{% include 'partials/navbar.html' %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About Dope Properties</h1>
        <p class="lead">We offer our services with integrity, initiative and confidence and we always aim to succeed in meeting our customers’ expectations!</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>We Search For The Perfect Home</h2>
        <p class="lead">We have been consistently recognized for our competence and expertise and we pride ourselves on our ability to provide an exceptional service!</p>
        <img src="{% static 'img/about.jpg' %}" alt="">
        <p class="mt-4">We understand the importance of looking after your property for sale, let or valuation. It's not something we take lightly. Our team go the extra mile to meet your requirements and offer a professional service at all times. We offer technical, property sales and financial advice. Please feel free to call in, chat with us and see for yourself our friendly helpful ideas.
        </p>
      </div>

   {% if mvp_realtors %}
      {% for mvp in mvp_realtors %}
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{{ mvp.photo.url }}" alt="Seller of the month">
          <div class="card-body">
            <h5 class="card-title">Seller Of The Month</h5>
            <h6 class="text-secondary"> {{ mvp.name }} </h6>
            <p class="card-text"> {{ mvp.description }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
   {% endif %}

    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Work For You</h2>
  <h4>We understand the importance of looking after your property for sale, let or valuation. Contact us now!</h4>
  <hr>
  <a href="{% url 'properties' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
</section>

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">

   {% if realtors %}
      {% for realtor in realtors %}

      <div class="col-md-4">
        <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
        <h4>{{realtor.name}}</h4>
        <p class="text-success">
          <i class="fas fa-award text-success mb-3"></i> Realtor</p>
        <hr>
        <p>
          <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
        <p>
          <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
      </div>

      {% endfor %}
   {% endif %}


    </div>
  </div>
</section>

{% include 'partials/footer.html' %}

{% include 'partials/topbar.html' %}

{% endblock %}