
{% extends 'base.html' %}

{% block title %}
| Welcome
{% endblock title %}

{% load static %}

{% load humanize %} 

{% block body %}



{% include 'partials/navbar.html' %}



<!-- Showcase -->
<section id="showcase">

{% include 'partials/alerts.html' %}

  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Property Searching Just Got So Easy
        </h1>
        <p class="lead">
          Dope properties is built on a reputation of careful, honest, professional service - careful, so we go in the right direction for you, honest, so we do the right thing by you and professional, because we like being told we are doing a good job for you. If you are thinking of letting or selling, we can guarantee a useful and reliable service!
          
          </p>
        <div class="search">
          <form action="{% url 'search' %}" method="GET">
      
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" value="{{ values.keywords }}" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input type="text" name="city" class="form-control" placeholder="City">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">State</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">State (All)</option>
                 {% for key, value  in state_choices.items %}

                        <option value="{{ key }}">{{ value }}</option>

                    {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Bedrooms</label>
                <select name="bedrooms" class="form-control">
                  <option selected="true" disabled="disabled">Bedrooms (All)</option>
                  {% for key, value  in bedroom_choices.items %}

                        <option value="{{ key }}">{{ value }}</option>

                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">Max Price (Any)</option>
                  {% for key, value  in price_choices.items %}

                        <option value="{{ key }}">{{ value }}</option>

                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Search Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Listings</h3>
    <div class="row">

{% if properties %}

  {% for property in properties %}

<!-- Listing 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{ property.photo_main.url }}" alt="">
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">${{property.price | intcomma }}</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{ property.title }}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> {{ property.city }} {{ property.state }}, {{ property.zipcode }}</p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: {{ property.sqft }}</div>
              <div class="col-6">
                <i class="fas fa-car"></i> Garage: {{ property.garage }}</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Bedrooms: {{ property.bedrooms }}</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: {{ property.bathrooms }}</div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-user"></i>  {{ property.realtor }}</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> {{ property.list_date | timesince }}</div>
            </div>
            <hr>
            <a href="{% url 'property' property.id %}" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>

  {% endfor %}

{% endif %}

    

    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Consulting Services</h3>
        <p>Whether you're buying, selling or letting a residential or commercial property in the United States, United Kingdom, Nigeria or Canada, you can trust our team to go the extra mile to meet your requirements and offer a professional service at all times.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Propery Management</h3>
        <p>We understand the importance of looking after your property for sale, let    or valuation. It's not something we take lightly.
          Dope Properties is the top letting agents, auctioneers, estate agents, valuers and property management agents specialising in residential, commercial and agricultural property.
         </p>
      
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Renting & Selling</h3>
        <p>
           Maybe you should not be selling, perhaps you should be letting instead. Are your property tax or site issues up-to-date? We offer technical, property sales and financial advice. Please feel free to call in, chat with us and see for yourself our friendly helpful ideas.
          
          </p>
      </div>
    </div>
  </div>
</section>

{% include 'partials/topbar.html' %}

{% include 'partials/footer.html' %}

  {% endblock %}