<!--Footer-->
<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <div class="widget col-sm-3 widget-about">
                <div class="row m0">
                    <a href="" style="font-size: 2.5rem; color: black"> <em style="font-size: 3.2rem; color: lightgreen; padding: 1rem">Dope</em>  Blog</a>
                </div>
            </div>
            <div class="widget col-sm-5 widget-menu">
                <div class="row">
                    <ul class="nav column-menu white-bg">
                        <li><a href="{% url 'blog:index' %}">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">categories</a></li>
                       
                    </ul>
                    <ul class="nav column-menu white-bg">
                        <li><a href="#">Search</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>
            </div>

            <!-- Subscribe-->
            <div class="widget col-sm-4 widget-subscribe">
                <h5 class="widget-title">subscribe to our newsletter.</h5>
                <form action="{% url 'blog:subscribe' %}" method="post" class="form-inline subscribe-form">
                {% csrf_token %}                  
                    <div class="form-group">
                        <input type="email" name='email' class="form-control" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm"><span>send</span></button>
                </form>
            </div>
        </div>
        <div>
            <h5 class="copyright"> All Rights Reserved - Dope Blog.
            <a class="right-side" href="#"> &copy; Copyright 2019 - 2020, Miracle</a> 
        </h5>
        </div>
    </div>
</footer>