{% load static %}


<link rel="stylesheet" href="{% static 'css/navbar_footer.css' %}">



    <header class="my-3 mb-5 mt-4 py-1">

        <section class="header_content">
            <section class="navbutton">
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
            </section>
            <span class="tifi_logo mb-2 mb-md-0">
                <a href="{% url 'index' %}" class="brand_color">tifi<img src="{% static 'uploads/logotv.png' %}" alt="">
                </a>
            </span>
            <span class="hideme navMenu">
            <span class="menu mr-4 pl-lg-5 mt-3 mb-5 ">

                {% if user.is_authenticated %}
                <a href="{% url 'home_auth' %}" class="{% if 'home' in request.path %} m_active {% endif %} mr-4 ml-lg-5">HOME</a>
                {% endif %}

                <a href="{% url 'explore'  %}" class="{% if 'explore' in request.path %} m_active {% endif %} mr-4 ">EXPLORE</a>

            </span>
            <form action="{% url 'search' %}" class="header_search_form pr-md-5">
                <input type="text" placeholder="Search Movie or Tv Show" name="q" value={{ query }}><i class="search_btn fa fa-search"></i>
            </form>
            <span class="header_user pt-3 mt-md-n2 mt-lg-0">
                <p class="login">
                {% if user.is_authenticated %}

                    <span class="signedIn mi-md-n1 mr-4">
                    <a href="{% url 'settings' %}"><img class="d-inline" src="{% static 'uploads/power.png' %}" alt="">
                    <i class="fa fa-angle-down"></i></a>
                    </span>


                    <a href="{% url 'account_logout' %}" class="px-3 py-2 ml-0 ml-md-3">LOG OUT</a>

                    {% else %}
                
                    <a href="{% url 'signin' %}">LOGIN</a>
                    <a href="{% url 'signup' %}" class="px-3 py-2 ml-0 ml-md-3">SIGN UP</a>
                    {% endif %}
                </p>
             
            </span>
        </span>
        </section>
        

    </header>