{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}

{% include 'partials/navbar.html' %}

  {% comment %} <!-- Main Content -->
  <div style="padding-top: 15rem; width: 66.66% " class="container">
    <div class="row">
        <h1 style="margin: 2rem;" class="text-center">About Me</h1>
      <
      </div>
    </div>
  </div>

  <hr> {% endcomment %}





<section class="row content-wrap">
    <div class="container" style="width: 70%">
        <div class="row">
            <div class="col-md-12 single-post-contents">

                <article class="single-post-content row m0 post">
                    <header class="row">

                        <!--Post title-->
                        <h2 class="post-title text-center"> About Me </h2>
                        
                    </header>


                        <!--Post content-->
                    <div class="post-content row">
                       
                      <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?
                      </p>
			<br>
                      <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
                      </p>
			<br>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!
                      </p>
                                      
                    </div>

                </article>

            </div>
        </div>
    </div>
</section>


  
  {% include 'partials/footer.html' %}

  {% endblock content %}