{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}

{% load static %}       

{% load custom_tags %}

{% include 'partials/navbar.html' %}


<section class="row content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 single-post-contents">
                <article class="single-post-content row m0 post">
                    <header class="row">

                         <!--Date and author-->
                        <h5 class="post-meta">
                            <a href="#" class="date">{{ post.publish }}</a>
                            <span class="post-author"><i>by</i><a href="#">
                            {{ post.author }}</a>
                            </span>
                        </h5>

                        <!--Post title-->
                        <h2 class="post-title"> {{ post.title }} </h2>

                        <!--Tags-->
                        <div class="row">
                            <h5 class="taxonomy pull-left"> <i>in</i> 
                            {% for tag in post.tags.all %}
                                <a href="{% url "blog:posts_by_tag" tag.slug %}">
                                {{ tag.name}}</a>{% if not forloop.last %},
                                {% endif %}
                            {% endfor %}
                            </h5>

                            <!--Comment count-->
                            <div class="response-count pull-right">
                            <img src="{% static 'images/comment-icon-gray.png' %}" alt="">
                            {% with comments.count as total_comment %}
                            {{ total_comment }}
                             {% endwith %}
                            </div>
                           
                        </div>
                    </header>

                    <!--Post image-->
                    {% if post.image %}
                    <div class="featured-content row m0">
                        <a href="#"><img src="{{ post.image.url }}" alt=""></a>
                    </div>
                    {% endif %}

                        <!--Post content-->
                    <div style="padding: 2.3rem; line-height: 1.8rem" class="post-content row">
                       
                        <p > {{ post.body|safe }} </p>
                        
                    </div>

                    <!--Share-->
                    <div class="row m0 tags">
                        <a href="{% url "blog:share" post.id %}" class="tag">Share this post</a>
                        
                    </div>
                    
                   
                    <!--Comment Section-->
                    <div class="row m0 comments">

                        <!--comment count-->
                        {% with comments.count as total_comments %}
                        <h5 class="response-count">{{ total_comments }} comment{{ total_comments|pluralize }}
                        <a href="#comment-form" class="btn btn-primary pull-right"><span>add comment</span></a></h5>
                        {% endwith %}

                    <!--Commenter avatar/picture-->
                    {% for comment in comments %}

                        <div class="media comment">
                            <div class="media-left">
                                <a href="#">
                                <img src="{% static 'images/avatar1.png' %}" alt="" class="img-circle"></a>
                            </div>

                            <!--comment body, date and author-->
                            <div class="media-body">
                                <h4><a href="#">{{ comment.name }}</a></h4>
                                <h5><a href="#" class="date">{{ comment.created }}</a> | <a href="#" class="reply-link">Comment 
                                {{ forloop.counter }}</a>
                                </h5>
                                <p>{{ comment.body|linebreaks }}
                                </p>
                            </div>
                        </div>

                {% empty %}

                    <h4>There are no comments yet.</h4>

                {% endfor %}

                    </div>

                    <!--Comment form-->
                    <form action="." method="post" class="comment-form row" id="comment-form">
                    {% csrf_token %}
                        <h5 class="form-title">leave a reply</h5>
                        <div class="form-group col-sm-6">
                            <label for="name">full name*</label>
                    {{ comment_form.name|add_attr:"class:form-control, placeholder:Your name,id:name" }}
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="email">Email*</label>
                    {{ comment_form.email|add_attr:"class:form-control, placeholder:Your email address here,id:email" }}   
                        </div>
                        
                        <div class="form-group col-sm-12">
                            <label for="message">message</label>
                    {{ comment_form.body|add_attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn-primary"><span>Add Comment</span></button>
                            <h5 class="pull-right">*required fields</h5>
                        </div>
                    </form>
                </article>
            </div>


            <!--Side bar-->
            <div class="col-md-4 sidebar"> 

                <!--Similar Posts-->
                <aside class="row m0 widget-author widget">
                    <div class="widget-author-inner row">
                        <h2 class="author-name">Similar Posts</h2>

                        {% for post in similar_posts %}
                        <ul>
                    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                        </ul>
                            {% empty %}
                                <p>There are no similar posts yet.</p>
                            {% endfor %}
                    </div>
                </aside>
                                
                <!--Latest Posts-->
                <aside class="row m0 widget-author widget">
                    <div class="widget-author-inner row">
                        <h2 class="author-name">Latest Posts</h2>

                        {% show_latest_posts 4 %}
                        
                    </div>
                </aside>

                    <!--Most commented Posts-->
                <aside class="row m0 widget-author widget">
                    <div class="widget-author-inner row">
                        <h3 class="author-name">Most Commented</h3>

                        {% get_most_commented_posts as most_commented_posts %}

                        <ul>
                            {% for post in most_commented_posts %}
                        <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
                
            </div>
        </div>
    </div>
</section>


{% include 'partials/footer.html' %}


{% endblock content %}
