{% extends 'base.html' %}

{% block css %}

<style>
    code {
        font-family: monospace;
    }
    pre {
        background-color: #e6e9ed;
        max-height: 200px;
        max-width: 1000px;
    }
</style>

{% endblock css %}


{% block content %}


    <div id="intro" class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-center mt-5 text-primary">Bulk Upload Products</h1>
            </div>

            <div class="col-lg-8 mx-auto ">
                <p id='message' class="text-center mt-3 alert-success"> </p>

                {% if messages %}
                <ul style="list-style: none;" class="text-center mt-3 alert-success">
                    {% for message in messages %}
                    <li class="{{ message.tags }} ">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

    
            <!-- form -->
            <div class="col-lg-6 mx-auto mt-3 mb-2">

                <!--Comment form, we just want to click now-->
                <!-- <form id="form"  action="{% url 'products_bulk_upload' %}" method="POST" enctype="multipart/form-data">
                        <p id="head"></p> -->
                    

                    {% csrf_token %}

                        <div class="form-group">
                            <label for="upload-file"><strong>Upload CSV File:</strong></label>
                            <br> 
                            <input id="file" type="file" name='file' accept=".zip" class="form-control-file" required>
                            {% comment %} <input id="file" type="file" name='file' accept="text/csv" class="form-control-file" required> {% endcomment %}
                            <br> 
                        <!--For submitting form-->
                        <!-- <button type="submit" id="submit" class="btn btn-block btn-primary mt-3 disabled"> <i class="fas fa-plus"></i>
                            Submit</button> -->

                            <!--For clicking-->
                             <button  id="button" onclick="s3upload()" class="btn btn-block btn-primary mt-3"> <i class="fas fa-plus"></i>
                            Submit</button> 
                    </div>
                <!--</form> -->
            </div>


            <div class="col-lg-8 mx-auto">
                <pre id='stream-content'>
                  
                </pre>
            </div>
           
        </div>
    </div>

{% endblock content %}

{% block javascript %}

<script>
  
  var eventSource  = new EventSource("{% url 'stream_response' %}");

  eventSource.onopen = function() {
    console.log('Yay! its open?');
  }

  eventSource.onmessage = function(e) {
    console.log(e)
    final_data = JSON.parse(e.data)
    content = "";

    final_data.forEach(function (item){
      content += buildPostContent(item['name'], item['sku'], item['is_active'], item['created_at'])
    })

      document.getElementById('stream-content').innerHTML = content;
      console.log(content)
  }

  eventSource.onerror = function(e) {
    console.log(`error: ${e}`);
  }

  function buildPostContent(name, sku, is_active, created_at) {

    content = `<code> --> Creating:  ${name}, ${sku}, ${is_active}, ${created_at} </code> <br>`
	return content

  }

</script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<script type="text/javascript">
    //Bucket Configurations
    var bucketName = 'mirapayments';
    var bucketRegion = 'us-east-2';
    var IdentityPoolId = 'us-east-2:b4b2f985-0c19-43f9-b86d-b506489ce596';

    AWS.config.update({
                    region: bucketRegion,
                    credentials: new AWS.CognitoIdentityCredentials({
                        IdentityPoolId: IdentityPoolId
                    })
                });

                var s3 = new AWS.S3({
                    apiVersion: '2006-03-01',
                    params: {Bucket: bucketName}
        });
</script>

<script type="text/javascript">
    function s3upload() {
        var files = document.getElementById('file').files;
        $('#button').html('<i class="fa fa-spinner fa-spin"></i> Uploading..');

        if (files) 
        {
            var file = files[0];
            var fileName = file.name;
            var filePath = 'mirapayments/' + fileName;

            s3.upload({
                Key: filePath,
                Body: file,
                ACL: 'public-read'
                }, function(err, data) {
                if(err) {
                    
                    console.log('Upload error', err)
                    $('#message').html('Upload failed, error occured while uploading file..')
                     $('#button').html('<i class="fas fa-plus"></i> Submit');

                } else {
                    console.log('data:', data)
                    $('#message').html('Upload completed, sending file url to server..')

                    $.ajax({
                        url: `/uploaded-file/?file_name=${fileName}`,
                        type: 'get',
                        success: function (data) {
                            $('#message').html(data.msg);
                            $('#button').html('<i class="fas fa-plus"></i> Submit');


                        },
                        error: function (data) {
                            $('#message').html('File processing failed, please try again later..')
                            $('#button').html('<i class="fas fa-plus"></i> Submit');
                        },
                    })
                }
                })
        }
    };
</script>



{% comment %} <script>
   // FOR AJAX Upload of file

    $(document).on('submit', '#form', function(e){
        var form = $(this);
	    var form_data = new FormData();
		var ins = document.getElementById('file').files.length;

        for (var x = 0; x < ins; x++) {
            form_data.append("file", document.getElementById('file').files[x]);
        }

        $.ajax({
            url: form.attr("action"),
            data: form_data,
            type: form.attr("method"),
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function(){
                $('#submit').html('<i class="fa fa-spinner fa-spin"></i> Uploading..');
            }, 
            success: function (data) {
                $('#submit').html(data.msg);

            },
            error: function (data) {
                $('#submit').html('<i class="fas fa-plus"></i> Upload File');
			    alert('An unexpected error occurred') // display error response
			},
        })
        return false;
    });
</script> {% endcomment %}

{% endblock javascript %}