{% extends 'base.html' %}


{% block content %}


    <div id="intro" class="container">

        <div class="row">
            <div class="mx-auto mt-5">

                <a href={% url 'webhook_create' %} class="btn btn-primary "> <i class="fas fa-plus"></i>
                    Add A Webhook</a>
            </div>        
        </div>
        
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-center my-5 text-primary">All Webhooks</h1>
            </div>
        </div>

        <div class="row">
             <div class="col-lg-8 mx-auto ">
                    
                {% if messages %}
                <ul style="list-style: none;" class="text-center mt-2 mb-2 alert-success">
                    {% for message in messages %}
                    <li class="{{ message.tags }} ">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        
    </div>


    <!-- table -->
    <div id="main" class="container">

    <form method='GET' action= {% url 'webhook_list' %} class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name='q' value="{{request.GET.q}}" type="search" placeholder="Search webhooks" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>

        <div class="table-responsive mb-5">
            <table id="wishes" class="table  table-striped table-hover">

                <thead class="alert-info">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                        <th scope="col">Url</th>
                        <th scope="col">Http Method</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Erase</th>
                    </tr>
                </thead>

                <tbody>
                    {% for webhook in webhooks %}
                    <tr>
                        <td>{{ webhook.name }}</td>
                        <td>{{ webhook.action }}</td>
                        <td>{{ webhook.url }}</td>
                        <td>{{ webhook.http_method }}</td>
                        <td>{{ webhook.created_at }}</td>
                        <td>
                          
                            <a href="{% url 'webhook_delete' webhook.pk %}" class="delete btn btn-sm btn-danger" data-confirm="Are you sure you want delete this webhook? This action is irreversible.">
                                <i class="fas fa-trash"></i> Delete

                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <!--  table-responsive -->

            {% if not webhooks %}

            <h4> No webhooks found </h4>
            
            {% endif %}

    </div>
    <!-- container -->


    <!-- Pagination -->
    {% include 'products/pagination.html' with posts=webhooks %}


{% endblock content %}


{% block javascript %}

    <script>
        var deleteLinks = document.querySelectorAll('.delete');

        for (var i = 0; i < deleteLinks.length; i++) {
            deleteLinks[i].addEventListener('click', function (event) {
                event.preventDefault();

                var choice = confirm(this.getAttribute('data-confirm'));

                if (choice) {
                    window.location.href = this.getAttribute('href');
                }
            });
        }
      
    </script>

{% endblock javascript %}