{% extends 'base.html' %}
{% load crispy_forms_tags  %}


{% block content %}
    <div id="intro" class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h3 class="text-center my-5 text-primary">Welcome To Bidnamic Multipart Form Wizard</h3>

                {% include 'applications/alerts.html' %}

                <h5 class="text-center mt-4"><a class="btn btn-primary font-weight-bold" href="{% url 'create' %}">Submit An Application</a> </h5>
                <h5 class="text-center mt-4"><a class="btn btn-primary font-weight-bold" href="{% url 'list' %}">See All Applications</a> </h5>

            </div>


        </div>
    </div>


{% endblock content %}
